[DEFAULT]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Backend used for the repository management. Options: 'github'
##   A section with this name MUST be defined below
repository_backend = github
## - Path to the JSON file used as DB

## ------------------- ##
## Optional parameters ##
## ------------------- ##
# db_file = /sqaaas/sqaaas.json


[jenkins]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Jenkins URL endpoint
url = https://jenkins.example.org/
## - Jenkins user with admin permissions
user = paco
## - Name in Jenkins of the base repository organization
github_organization_name = my_org

## ------------------- ##
## Optional parameters ##
## ------------------- ##
## - Path to file containing the previous user's token
# token = /etc/sqaaas/.jk_token


[github]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
organization = my_github_org

## ------------------- ##
## Optional parameters ##
## ------------------- ##
# token = /etc/sqaaas/.gh_token


[badgr]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Badgr URL endpoint
url = https://badgr.example.org/
## - Badgr user with Issuer permissions
user = pepe

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the user's password
# token = /etc/sqaaas/.bdgr_token
