[DEFAULT]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Backend used for the repository management. Options: 'github'
##   A section with this name MUST be defined below
repository_backend = github

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to the JSON file used as DB
# db_file = /sqaaas/sqaaas.json


[jenkins]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Jenkins URL endpoint
url = https://jenkins.example.org/
## - Jenkins user with admin permissions
user = paco
## - Name in Jenkins of the base repository organization
github_organization_name = my_org

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the Jenkins user's token
##   + Defaults to: /etc/sqaaas/.jk_token
# token = /etc/sqaaas/.jk_token
## - Jenkins credential's ID to be used in order to push docker images to a remote
##   registry. This feature allows to have a default credential, without the
##   burden of requesting the user to add a credential in Jenkins as part of
##   the pipeline composition.
# jenkins_credential_id = my_docker_hub_creds


[github]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Name of the GitHub organization to use for managing repos containing pipelines
organization = my_github_org

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the GitHub token to carry out requests to GitHub API
# token = /etc/sqaaas/.gh_token


[badgr]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Badgr URL endpoint
url = https://badgr.example.org/
## - Badgr user with Issuer permissions
user = pepe
## - Badgr's Issuer name
issuer = my_issuer_name
## - Badgr's BadgeClass name that belongs to the former issuer
badgeclass = my_badgeclass_name

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the given Badgr user's password
# token = /etc/sqaaas/.bdgr_token
