<blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;">
    <a href="{{ openBadgeId  }}?identity__url={{ commit_url |urlencode }}">
        <img width="120px" height="120px" src="{{ image }}">
    </a>
    <p class="badgr-badge-name" style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word;margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;">{{ badgr_badgeclass }}
    </p>
    <p class="badgr-badge-date" style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;">
        <strong style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;">Awarded:
        </strong>{{ award_month }} {{ award_day }}, {{ award_year }}
    </p>
    <p style="margin: 16px 0; padding: 0;">
    <a class="badgr-badge-verify" target="_blank" href="https://badgecheck.io?url={{ openBadgeId |urlencode }}%3Fidentity__url%3D{{ commit_url |urlencode }}&amp;identity__url={{ commit_url |urlencode }}" style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px black; text-decoration: none; padding: 6px 16px; margin: 16px 0; color: black;">VERIFY
        </a>
    </p>
    <script async="async" src="https://eu.badgr.com/assets/widgets.bundle.js"></script>
</blockquote>
